<div class="landing-page-bg">
  <div class="container padding-top-100">
    <div class="row">
      <div class="col s12">
        <h1 class="welcome-heading center-align animated fadeIn">{{headingsConst.appHeading}}</h1>
        <h4 class="welcome-heading-secondary center-align animated fadeIn">{{headingsConst.appTagLine}}</h4>
      </div>
    </div>
    <div class="row padding-top-20">
      <div class="col s12 m6 l6 center-align padding-top-20">
        <a class="btn-large waves-effect z-depth-3 landing-buttons animated fadeIn" routerLink="home">{{gamesConst.cricket}}</a>
      </div>
      <div class="col s12 m6 l6 center-align padding-top-20">
        <a class="btn-large waves-effect z-depth-3 landing-buttons animated fadeIn" routerLink="home">{{gamesConst.kabaddi}}</a>
      </div>
    </div>
  </div>
</div>
