<div class="navbar-fixed">
  <div class="site-header base-color">
    <nav class="site-header base-color">
      <div class="nav-wrapper padding-30-both">
          <a href="#" class="brand-logo">Cric<b>Buddy</b></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><span class="mdi mdi-account">Log In</span></li>
            <li class="seperator"></li>
            <li>
              <div class="search-bar">
              </div>
            </li>
          </ul>
        </div>
        </nav>
  </div>
  <nav class="white nav-header">
    <div class="nav-wrapper">
        
      <!-- <a href="#!" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
      </ul> -->
    </div>
  </nav>
</div>