/* You can add global styles to this file, and also import other style files */

@import url('assets/css/height-width.css');
/* Width */

@import url('assets/css/border-radius.css');
/* rounded-corners || border-radius */

@import url('assets/css/font-faces.css');
/* Alignments */

.padding-30-both {
  padding-left: 30px;
  padding-right: 30px;
}

.padding-top-20 {
  padding-top: 20px !important;
}

.padding-top-50 {
  padding-top: 50px !important;
}

.padding-top-100 {
  padding-top: 100px !important;
}

.padding-1perc-both{
  padding-left: 1%;
  padding-right: 1%;
}


/* Colors */

.base-color {
  background-color: #567d96;
}

.button-bg-color {
  background-color: #445a65;
}

/* elements */

.landing-buttons {
  background-color: #445a65;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 600;
  padding-top: 7px;
  height: 70px;
  width: 250px;
  border-radius: 20px;
  text-transform: none;
}

.landing-buttons:hover {
  background-color: #445a65;
}

.welcome-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 90px;
  font-weight: 600;
  color: #253336;
  text-transform: uppercase;
}

.welcome-heading-secondary {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: #06050a;
}

.dropdown-trigger::after{
  color: black;
  content: "\F35D";
  font-family: "Material Design Icons";
}

@media screen and (max-width:700px) {
  .landing-buttons {
    font-size: 30px;
    padding-top: 0px;
    height: 55px;
    width: 200px;
  }
  .welcome-heading {
    font-size: 40px;
  }
  .welcome-heading-secondary {
    font-size: 25px;
  }
}
